@model QLTHPT.Models.Hocsinh

@{
    ViewData["Title"] = "Create";
}
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4><strong>Tạo Mới</strong></h4>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="HsMa" class="control-label">Mã</label>
                            <input asp-for="HsMa" class="form-control" />
                            <span asp-validation-for="HsMa" class="text-danger"></span>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="HsHoten" class="control-label">Họ&Tên</label>
                            <input asp-for="HsHoten" class="form-control" />
                            <span asp-validation-for="HsHoten" class="text-danger"></span>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="HsGioitinh" class="control-label">Giới Tính</label>
                            <input asp-for="HsGioitinh" class="form-control" />
                            <span asp-validation-for="HsGioitinh" class="text-danger"></span>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="HsNgaysinh" class="control-label">Ngày Sinh</label>
                            <input asp-for="HsNgaysinh" class="form-control" />
                            <span asp-validation-for="HsNgaysinh" class="text-danger"></span>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="HsTongiao" class="control-label">Tôn Giáo</label>
                            <input asp-for="HsTongiao" class="form-control" />
                            <span asp-validation-for="HsTongiao" class="text-danger"></span>
                        </div>
                         <div class="form-group"  style="text-align: left;">
                            <label asp-for="DantocDtMa" class="control-label">Dân Tộc</label>
                            <select asp-for="DantocDtMa" class ="form-control" asp-items="ViewBag.DantocDtMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="TinhthanhTtMa" class="control-label">Tỉnh Thành</label>
                            <select asp-for="TinhthanhTtMa" class ="form-control" asp-items="ViewBag.TinhthanhTtMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="XaphuongXpMa" class="control-label">Xã/Phường</label>
                            <select asp-for="XaphuongXpMa" class ="form-control" asp-items="ViewBag.XaphuongXpMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="QuanhuyenQhMa" class="control-label">Quận/Huyện</label>
                            <select asp-for="QuanhuyenQhMa" class ="form-control" asp-items="ViewBag.QuanhuyenQhMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="KyluatKlMa" class="control-label">Kỹ Luật</label>
                            <select asp-for="KyluatKlMa" class ="form-control" asp-items="ViewBag.KyluatKlMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="KhenthuongKtMa" class="control-label">Khen Thưởng</label>
                            <select asp-for="KhenthuongKtMa" class ="form-control" asp-items="ViewBag.KhenthuongKtMa"></select>
                        </div>
                        <div class="form-group"  style="text-align: left;">
                            <label asp-for="LopLopMa" class="control-label">Lớp</label>
                            <select asp-for="LopLopMa" class ="form-control" asp-items="ViewBag.LopLopMa"></select>
                        </div>
                         <div class="form-group"  style="text-align: left;">
                            <label asp-for="KhoiKhoiMa" class="control-label">Khối</label>
                            <select asp-for="KhoiKhoiMa" class ="form-control" asp-items="ViewBag.KhoiKhoiMa"></select>
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <input type="submit" value="Tạo" class="btn btn-default"/>
                            <a asp-action="Index"class=" btn btn-custon-rounded-three btn-primary"><i class="fa fa-undo"></i></a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 