@model IEnumerable<QLTHPT.Models.Login>

@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_LayoutLogin.cshtml";
} 
<form asp-action="Login" asp-asp-controller="Logins" method="POST">
    
</form>