@model QLTHPT.Models.Thoikhoabieu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Thoikhoabieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TkbMa" />
            <div class="form-group">
                <label asp-for="LopLopMa" class="control-label"></label>
                <select asp-for="LopLopMa" class="form-control" asp-items="ViewBag.LopLopMa"></select>
                <span asp-validation-for="LopLopMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonhocMhMa" class="control-label"></label>
                <select asp-for="MonhocMhMa" class="form-control" asp-items="ViewBag.MonhocMhMa"></select>
                <span asp-validation-for="MonhocMhMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuThuMa" class="control-label"></label>
                <select asp-for="ThuThuMa" class="form-control" asp-items="ViewBag.ThuThuMa"></select>
                <span asp-validation-for="ThuThuMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiethocThMa" class="control-label"></label>
                <select asp-for="TiethocThMa" class="form-control" asp-items="ViewBag.TiethocThMa"></select>
                <span asp-validation-for="TiethocThMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanboCbMa" class="control-label"></label>
                <select asp-for="CanboCbMa" class="form-control" asp-items="ViewBag.CanboCbMa"></select>
                <span asp-validation-for="CanboCbMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HockyHkMa" class="control-label"></label>
                <select asp-for="HockyHkMa" class="form-control" asp-items="ViewBag.HockyHkMa"></select>
                <span asp-validation-for="HockyHkMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

