@model QLTHPT.Models.Hocky

@{
    ViewData["Title"] = "Edit";
}

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4><strong>Chỉnh Sửa</strong></h4>

                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="HkMa" />
                            <div class="form-group" style="text-align: left;">
                                <label asp-for="HkMa" class="control-label">Mã</label>
                                <input asp-for="HkMa" class="form-control" />
                                <span asp-validation-for="HkMa" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label asp-for="HkTen" class="control-label">Tên</label>
                                <input asp-for="HkTen" class="form-control" />
                                <span asp-validation-for="HkTen" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <div style=" padding-left: 15px;">
                                    <input type="submit" value="Lưu" class="btn btn-default" /> |
                                    <a asp-action="Index" class=" btn btn-custon-rounded-three btn-primary"><i class="fa fa-undo"></i></a>
                                </div>
                            </div>
                        </form>
                           
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@* <h1>Edit</h1>

<h4>Hocky</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HkMa" />
            <div class="form-group">
                <label asp-for="HkTen" class="control-label"></label>
                <input asp-for="HkTen" class="form-control" />
                <span asp-validation-for="HkTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

